@import './common.scss';
@import "../css/base.css";

.p-agreement {
  background: #ffffff;
  margin-top: 100px;

  &-img {
    width: 100%;
  }

  &-content {
    padding-top: 25px;
  }

  &-item {
    margin: 0 87px 96px;

    .-item-title {
      font-size:32px;
      font-weight:bold;
      color:rgba(254,117,13,1);
    }

    .-item-text {
      margin-top: 37px;
      font-size:24px;

      color:rgba(51,51,51,1);
      line-height:41px;

      &-two {
        font-weight:800;
        color: #333333;
      }
    }
  }
}
