@import './common.scss';

.content {
  @include flex-col-center;
  padding-top: 30px;
  img {
    width: 443px;
  }
}

.title {
  position: relative;
  margin-top: 30px;
  margin-bottom: 41px;
  font-size: 36px;
  color: #333;
  font-weight: 600;
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 76px;
    height: 4px;
    transform: translateY(-50%);
  }
  &::before {
    @include bg('composition/icon2.png');
    left: -96px;
  }
  &::after {
    @include bg('composition/icon1.png');
    right: -96px;
  }
}
.text {
  margin-bottom: 30px;
  width: 623px;
  font-size: 24px;
  line-height: 32px;
  color: #666;
  text-align: center;
}

.lesson {
  margin-top: 52px;
  padding-top: 30px;
  background-color: #f6f6f9;
  img {
    width: 627px;
  }
  .btn {
    @include flex-center;
    margin-top: 34px;
    margin-bottom: 60px;
    width: 297px;
    height: 51px;
    font-size: 26px;
    color: #fff;
    background: rgba(255, 192, 0, 1);
    box-shadow: 1px 12px 13px 0px rgba(255, 192, 0, 0.3);
    border-radius: 25px;
  }
}

.jc,
.cr {
  padding-bottom: 33px;
  img {
    width: 639px;
  }
}
.cr {
  padding-bottom: 113px;
}
.lc {
  padding-bottom: 80px;
  background: url('../image/composition/img@2x.png') no-repeat right bottom;
  background-color: #f6f6f9;
  background-size: 186px;
  img {
    width: 655px;
  }
}
.fk {
  position: relative;
  padding-bottom: 137px;
  background-color: #f6f6f9;
  &-icon1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 175px;
    height: 116px;
    @include bg('composition/img-up@2x.png');
    background-size: 100%;
  }
  &-icon2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 245px;
    height: 137px;
    @include bg('composition/img-down@2x.png');
    background-size: 100%;
  }
  img {
    width: 652px;
  }
}
