@import './common.scss';
.banner {
  position: relative;
  .btn {
    @include flex-center;
    position: absolute;
    right: 110px;
    bottom: 73px;
    width: 253px;
    height: 64px;
    background: rgba(255, 122, 50, 1);
    box-shadow: 0px 5px 5px 1px rgba(169, 223, 235, 0.4);
    border-radius: 32px;
    font-size: 27px;
    color: #fff;
    font-weight: 600;
  }
}
.content {
  @include flex-col-center;
  padding-top: 30px;
  img {
    width: 443px;
  }
}

.title {
  position: relative;
  margin-top: 30px;
  margin-bottom: 41px;
  font-size: 36px;
  color: #333;
  font-weight: 600;
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 76px;
    height: 4px;
    transform: translateY(-50%);
  }
  &::before {
    @include bg('composition/icon2.png');
    left: -96px;
  }
  &::after {
    @include bg('composition/icon1.png');
    right: -96px;
  }
}
.text {
  margin-bottom: 30px;
  width: 623px;
  font-size: 24px;
  line-height: 32px;
  color: #666;
  text-align: center;
}

.lesson {
  margin-top: 52px;
  padding-top: 30px;
  background-color: #f6f6f9;
  img {
    width: 627px;
  }
  .btn {
    @include flex-center;
    margin-top: 34px;
    margin-bottom: 60px;
    width: 297px;
    height: 51px;
    font-size: 26px;
    color: #fff;
    background: rgba(255, 192, 0, 1);
    box-shadow: 1px 12px 13px 0px rgba(255, 192, 0, 0.3);
    border-radius: 25px;
  }
}

.jc,
.cr {
  padding-bottom: 33px;
  img {
    width: 639px;
  }
}
.cr {
  padding-bottom: 113px;
}
.lc {
  padding-bottom: 80px;
  background: url('../image/composition/img@2x.png') no-repeat right bottom;
  background-color: #f6f6f9;
  background-size: 186px;
  img {
    width: 655px;
  }
}
.fk {
  position: relative;
  padding-bottom: 137px;
  background-color: #f6f6f9;
  &-icon1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 175px;
    height: 116px;
    @include bg('composition/img-up@2x.png');
    background-size: 100%;
  }
  &-icon2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 245px;
    height: 137px;
    @include bg('composition/img-down@2x.png');
    background-size: 100%;
  }
  img {
    width: 652px;
  }
}

.list {
  &.center {
    display: flex;
    .item {
      margin-bottom: 16px;
      span {
        width: 270px;
      }
    }
    .fl {
      margin-right: 10px;
    }
  }
  &.m16 {
    .item {
      margin-bottom: 16px;
    }
  }
  .item {
    display: flex;
    margin-bottom: 41px;
    &-icon {
      display: block;
      margin-top: 10px;
      margin-right: 11px;
      width: 20px;
      height: 21px;
      @include bg('composition/icon-1.png');
      &.icon2 {
        background-image: url('../image/composition/icon-2.png');
      }
      &.icon3 {
        background-image: url('../image/composition/icon-3.png');
      }
      &.icon4 {
        background-image: url('../image/composition/icon-4.png');
      }
      &.icon5 {
        background-image: url('../image/composition/icon-5.png');
      }
      &.icon6 {
        background-image: url('../image/composition/icon-6.png');
      }
    }
    &-text {
      p {
        font-size: 24px;
        color: #333;
        font-weight: bold;
        margin-bottom: 16px;
      }
      span {
        display: block;
        width: 590px;
        font-size: 22px;
        line-height: 39px;
        color: #666;
      }
    }
  }
}
