@import './common.scss';
@import "../css/base.css";

.p-contact {
  background: #ffffff;
  margin-top: 100px;

  &-img {
    width: 100%;
  }

  &-content {
    padding-top: 28px;
  }

  &-item {
    margin: 0 87px;

    .-item-title {
      @include flex-center;

      &-icon-one {
        display: inline-block;
        margin: 0 10px;
        width:8px;
        height:15px;
        background:linear-gradient(180deg,rgba(255,218,88,1),rgba(255,156,0,1));
        border-radius:4px;
      }

      &-icon-two {
        display: inline-block;
        width: 8px;
        height: 27px;
        background: linear-gradient(180deg, rgba(255, 218, 88, 1), rgba(255, 156, 0, 1));
        border-radius: 4px;
      }

      &-text {
        display: inline-block;
        font-size: 32px;
        font-weight: bold;
        color: rgba(51, 51, 51, 1);
        margin: 0 21px;
      }
    }

    .-item-img {
      margin: 50px 0 57px;
      width: 100%;
      border-radius:20px;
    }

    .-item-text {
      font-size:24px;
      color:rgba(51,51,51,1);
      line-height:41px;

      &-span {
        font-weight:800;
        color: #333333;
      }
    }
  }
}
