@import url(../css/base.css);
.p-about {
  background: #ffffff; }
  .p-about-img {
    width: 100%;
    height: 400px; }
  .p-about-content {
    padding-top: 40px; }
  .p-about-item {
    margin: 117px 88px 0; }
    .p-about-item .-item-title {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center; }
      .p-about-item .-item-title-icon-one {
        display: inline-block;
        margin: 0 10px;
        width: 8px;
        height: 15px;
        background: -webkit-gradient(linear, left top, left bottom, from(#ffda58), to(#ff9c00));
        background: linear-gradient(180deg, #ffda58, #ff9c00);
        border-radius: 4px; }
      .p-about-item .-item-title-icon-two {
        display: inline-block;
        width: 8px;
        height: 27px;
        background: -webkit-gradient(linear, left top, left bottom, from(#ffda58), to(#ff9c00));
        background: linear-gradient(180deg, #ffda58, #ff9c00);
        border-radius: 4px; }
      .p-about-item .-item-title-text {
        display: inline-block;
        font-size: 32px;
        font-weight: bold;
        color: #333333;
        margin: 0 21px; }
    .p-about-item:first-child {
      margin-top: 0; }
    .p-about-item .-item-text {
      margin-top: 37px;
      font-size: 24px;
      font-weight: 500;
      color: #333333;
      line-height: 41px; }
      .p-about-item .-item-text-two {
        font-size: 21px;
        padding-bottom: 53px; }
      .p-about-item .-item-text-span {
        color: #FE750D;
        font-size: 24px; }
