@import url(../css/base.css);
.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  -webkit-box-pack: justify;
          justify-content: space-between;
  background: white;
  box-shadow: 0.0300rem 0.1000rem 0.2700rem 0px rgba(0, 0, 0, 0.1);
  padding: 0  0.4600rem;
  height: 1.0000rem;
  z-index: 1000; }
  .header .logo {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center; }
    .header .logo-left {
      margin-right: 0.2400rem;
      width: 0.8200rem; }
    .header .logo-right {
      width: 1.1300rem; }

.nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 0.6400rem;
  width: 2.9600rem;
  background-color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .nav-left {
    position: absolute;
    left: 0;
    right: 2.9600rem;
    top: 0;
    bottom: 0; }
  .nav-wrap {
    position: fixed;
    right: 0;
    left: 0;
    top: 1.0000rem;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 900;
    overflow: hidden;
    visibility: hidden; }
    .nav-wrap.show {
      visibility: visible; }
      .nav-wrap.show .nav {
        -webkit-transform: translateX(0);
                transform: translateX(0); }
  .nav-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: 1.0000rem;
    padding-left: 0.7100rem;
    height: 0.5000rem;
    font-size: 0.3200rem;
    font-weight: 800;
    color: #000; }
    .nav-item.active {
      color: #ff5622; }
  .nav-icon {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../image/home/nav-icon.png");
    display: block;
    width: 0.4900rem;
    height: 0.4100rem; }

.kf {
  position: fixed;
  right: 0;
  top: 6.7500rem;
  width: 1.2300rem;
  height: 1.7600rem;
  z-index: 80; }
  .kf-radio {
    position: absolute;
    left: 0;
    top: 0;
    width: 1.2300rem;
    height: 1.7600rem;
    z-index: 9;
    opacity: 0; }
    .kf-radio:checked + .kf-qrcode {
      display: block; }
  .kf-icon {
    width: 100%; }
  .kf-qrcode {
    display: none;
    position: absolute;
    top: 0;
    left: -2.5000rem;
    width: 2.2700rem;
    height: 2.2700rem;
    background-color: #fff;
    border-radius: 0.2000rem;
    box-shadow: 0 0 0.1000rem 2px rgba(0, 0, 0, 0.2); }
    .kf-qrcode .-img {
      width: 100%; }

.banner img {
  width: 100%; }

.container {
  padding-top: 1.0000rem; }

.g-text-center {
  text-align: center; }

.dialog {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2000;
  visibility: hidden; }
  .dialog.show {
    visibility: visible; }
  .dialog-mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.6); }
  .dialog-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    position: relative;
    width: 5.0200rem;
    height: 7.1800rem;
    z-index: 10;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../image/dialog.png"); }
    .dialog-content .-img {
      width: 4.8000rem;
      margin-top: 2.2000rem;
      margin-left: 0.1000rem; }
  .dialog-img {
    display: none;
    width: 4.8000rem;
    margin: 0 auto;
    margin-top: 2.0100rem;
    border-radius: 0.3000rem; }
  .dialog-img.show {
    display: block; }

.p-agreement {
  background: #ffffff;
  margin-top: 1.0000rem; }
  .p-agreement-img {
    width: 100%; }
  .p-agreement-content {
    padding-top: 0.2500rem; }
  .p-agreement-item {
    margin: 0  0.8700rem 0.9600rem; }
    .p-agreement-item .-item-title {
      font-size: 0.3200rem;
      font-weight: bold;
      color: #fe750d; }
    .p-agreement-item .-item-text {
      margin-top: 0.3700rem;
      font-size: 0.2400rem;
      color: #333333;
      line-height: 0.4100rem; }
      .p-agreement-item .-item-text-two {
        font-weight: 800;
        color: #333333; }