.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  -webkit-box-pack: justify;
          justify-content: space-between;
  background: white;
  box-shadow: 0.0300rem 0.1000rem 0.2700rem 0px rgba(0, 0, 0, 0.1);
  padding: 0  0.4600rem;
  height: 1.0000rem;
  z-index: 1000; }
  .header .logo {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center; }
    .header .logo-left {
      margin-right: 0.2400rem;
      width: 0.8200rem; }
    .header .logo-right {
      width: 1.1300rem; }

.nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 0.6400rem;
  width: 2.9600rem;
  background-color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .nav-left {
    position: absolute;
    left: 0;
    right: 2.9600rem;
    top: 0;
    bottom: 0; }
  .nav-wrap {
    position: fixed;
    right: 0;
    left: 0;
    top: 1.0000rem;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 900;
    overflow: hidden;
    visibility: hidden; }
    .nav-wrap.show {
      visibility: visible; }
      .nav-wrap.show .nav {
        -webkit-transform: translateX(0);
                transform: translateX(0); }
  .nav-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: 1.0000rem;
    padding-left: 0.7100rem;
    height: 0.5000rem;
    font-size: 0.3200rem;
    font-weight: 800;
    color: #000; }
    .nav-item.active {
      color: #ff5622; }
  .nav-icon {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../image/home/nav-icon.png");
    display: block;
    width: 0.4900rem;
    height: 0.4100rem; }

.kf {
  position: fixed;
  right: 0;
  top: 6.7500rem;
  width: 1.2300rem;
  height: 1.7600rem;
  z-index: 80; }
  .kf-radio {
    position: absolute;
    left: 0;
    top: 0;
    width: 1.2300rem;
    height: 1.7600rem;
    z-index: 9;
    opacity: 0; }
    .kf-radio:checked + .kf-qrcode {
      display: block; }
  .kf-icon {
    width: 100%; }
  .kf-qrcode {
    display: none;
    position: absolute;
    top: 0;
    left: -2.5000rem;
    width: 2.2700rem;
    height: 2.2700rem;
    background-color: #fff;
    border-radius: 0.2000rem;
    box-shadow: 0 0 0.1000rem 2px rgba(0, 0, 0, 0.2); }
    .kf-qrcode .-img {
      width: 100%; }

.banner img {
  width: 100%; }

.container {
  padding-top: 1.0000rem; }

.g-text-center {
  text-align: center; }

.dialog {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2000;
  visibility: hidden; }
  .dialog.show {
    visibility: visible; }
  .dialog-mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.6); }
  .dialog-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    position: relative;
    width: 5.0200rem;
    height: 7.1800rem;
    z-index: 10;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../image/dialog.png"); }
    .dialog-content .-img {
      width: 4.8000rem;
      margin-top: 2.2000rem;
      margin-left: 0.1000rem; }
  .dialog-img {
    display: none;
    width: 4.8000rem;
    margin: 0 auto;
    margin-top: 2.0100rem;
    border-radius: 0.3000rem; }
  .dialog-img.show {
    display: block; }

.content {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  .content img {
    width: 4.4300rem; }

.title,
.title1 {
  position: relative;
  margin-top: 0.9000rem;
  margin-bottom: 0.4100rem;
  font-size: 0.3600rem;
  color: #333;
  font-weight: 600; }
  .title span,
  .title1 span {
    position: relative;
    z-index: 100; }
  .title::before, .title::after,
  .title1::before,
  .title1::after {
    content: '';
    position: absolute;
    z-index: 2; }
  .title::before,
  .title1::before {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../image/poem/t1.png");
    width: 0.3600rem;
    height: 0.1600rem;
    top: 0.0300rem;
    left: -0.2200rem; }
  .title::after,
  .title1::after {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../image/poem/t2.png");
    width: 0.6300rem;
    height: 0.2400rem;
    bottom: 0;
    right: -0.2100rem; }

.title1 {
  margin-bottom: 0.4000rem; }
  .title1::before {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../image/poem/y3.png");
    width: 0.3700rem;
    height: 0.3700rem;
    top: -0.0300rem;
    left: -0.1500rem; }
  .title1::after {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../image/poem/y3.png");
    width: 0.2400rem;
    height: 0.2400rem;
    bottom: 0.0300rem;
    right: -0.1100rem; }

.text {
  margin-bottom: 0.5900rem;
  width: 6.2300rem;
  font-size: 0.2400rem;
  line-height: 0.3200rem;
  color: #666;
  text-align: center; }

.lesson {
  margin-top: 0.5200rem;
  padding-top: 0.3000rem;
  background-color: #f6f6f9; }
  .lesson img {
    width: 6.8100rem; }
  .lesson .btn {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    margin-top: 0.4800rem;
    margin-bottom: 0.8000rem;
    width: 3.8000rem;
    height: 0.8300rem;
    font-size: 0.3200rem;
    color: #fff;
    background: #ffc000;
    box-shadow: 1px 0.1200rem 0.1300rem 0px rgba(255, 192, 0, 0.3);
    border-radius: 0.4100rem; }

.lesson ul {
  box-sizing: border-box;
  position: relative;
  width: 6.8100rem;
  height: 9.3100rem;
  margin-top: 0.4000rem;
  z-index: 9; }

.lesson ul li {
  list-style: none; }

.lesson ul li input {
  display: none; }

.lesson ul li label {
  float: left;
  margin: 0  0.2500rem;
  width: 1.7300rem;
  height: 0.5800rem;
  text-align: center;
  line-height: 0.5800rem;
  font-size: 0.2800rem;
  color: #ffce15;
  border: 1px solid #ffce15;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 0.2900rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.lesson ul li input:checked + label {
  color: #fff;
  background-color: #ffce15; }

.lesson ul li .content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 1.0000rem;
  width: 100%;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 9; }

.lesson ul li input:checked ~ .content {
  opacity: 1;
  visibility: visible; }

.jc img,
.cr img {
  width: 100%;
  max-width: 7.5000rem; }

.lc {
  background-color: #f9f9f9;
  padding-bottom: 1.1200rem; }
  .lc img {
    width: 7.1300rem; }

.fk {
  background-color: #f9f9f9;
  padding-bottom: 1.1200rem; }
  .fk img {
    width: 6.4700rem; }

.cr {
  padding-bottom: 1.2100rem; }
  .cr-list {
    display: -webkit-box;
    display: flex;
    width: 100%;
    justify-content: space-around; }
  .cr-icon {
    display: block;
    width: 0.5600rem;
    height: 0.5600rem;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../image/poem/icon-money@2x.png"); }
  .cr-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: start;
            justify-content: flex-start; }
    .cr-item p {
      margin-top: 0.2800rem;
      margin-bottom: 0.2800rem;
      font-size: 0.2800rem;
      color: #333;
      font-weight: 600; }
    .cr-item span {
      display: block;
      font-size: 0.2200rem;
      color: #666;
      line-height: 0.3200rem;
      width: 1.7500rem;
      text-align: center; }

.list.center {
  display: -webkit-box;
  display: flex; }
  .list.center .item {
    margin-bottom: 0.1600rem; }
    .list.center .item span {
      width: 2.7000rem; }
  .list.center .fl {
    margin-right: 0.1000rem; }

.list.m16 .item {
  margin-bottom: 0.1600rem; }

.list .item {
  display: -webkit-box;
  display: flex;
  margin-bottom: 0.4100rem; }
  .list .item-icon {
    display: block;
    margin-top: 0.1000rem;
    margin-right: 0.1100rem;
    width: 0.2000rem;
    height: 0.2100rem;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../image/composition/icon-1.png"); }
    .list .item-icon.icon2 {
      background-image: url("../image/composition/icon-2.png"); }
    .list .item-icon.icon3 {
      background-image: url("../image/composition/icon-3.png"); }
    .list .item-icon.icon4 {
      background-image: url("../image/composition/icon-4.png"); }
    .list .item-icon.icon5 {
      background-image: url("../image/composition/icon-5.png"); }
    .list .item-icon.icon6 {
      background-image: url("../image/composition/icon-6.png"); }
  .list .item-text p {
    font-size: 0.2400rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 0.1600rem; }
  .list .item-text span {
    display: block;
    width: 5.9000rem;
    font-size: 0.2200rem;
    line-height: 0.3900rem;
    color: #666; }